
th{
    white-space: nowrap;
    padding: 0 5px;
    text-align: center;
    border: solid 1px white;
}
td{
    white-space: nowrap;
    padding: 0 5px;
    text-align: center;
    border: solid 1px white;
}
.button-row{
    border:none
}


